PORT=3000
MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=example
GOOGLE_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=
AUTHENTIC_SERVER=https://authentic.example.com
WHITELIST=user1@example.com,user2@example.com

# Development-only: Bypass authentication for both client and server
# FORCE_AUTH_EMAIL=dev@example.com